<?xml version="1.0"?>
<model>
  <name>classroom_20x15x8</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>

  <description>
    Classroom: 20m x 15m x 8m. Door on Wall 1 (+Y wall). Three 4x6m windows evenly spaced on Wall 2 (+X wall).
  </description>
</model>
