<?xml version="1.0"?>
<model>
  <name>pegboard_horizontal_Llegs</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>
  <description>
    Pegboard 48.5×24×1 in (landscape) mounted between two 54.5 in L-shaped legs, with horizontal top tabs.
  </description>
</model>
