<?xml version="1.0"?>
<model>
  <name>heavy_table_60x30x29</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>You</name>
    <email>you@example.com</email>
  </author>

  <description>
    Heavy table: 60×30 in top, 29 in tall, thick 2.5 in top, 4×4 in legs, low stretchers.
  </description>
</model>
