<?xml version="1.0"?>
<model>
  <name>table_36p7x30_Tlegs</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>You</name>
    <email>you@example.com</email>
  </author>

  <description>
    Table: 36.7×30 in top, 30 in tall, with two T-shaped legs (central posts and transverse feet).
  </description>
</model>
